body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;

}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    height: auto;
}

main {
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    font-size: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    height: auto;
}

#result {
    text-align: center;
    display: none;
    width: 100%;
}

ul {
    padding: 0;
    /*border-top: 1px solid #000000;*/
    /*display: table;*/
    /* 定義 */
    /*table-layout: fixed;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    text-align: center;
    list-style-type: none;
    /*border: 1px solid #666;*/
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

img {
    width: 30%;
}

li:hover {
    transform: scale(1.2, 1.2);
}

#com_hand {
    display: none;
}

#game_select {
    visibility: hidden;
}

.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#again {
    display: none;
}

/* mute切り替え用スタイル */
.mute_btn {
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 80%;
}